.empty__cont {
  font-size: 25px;
  height: 400px;
  width: 600px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty__icon {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  fill: #fcc83f;
}
